.review-page {
  background: #000;
  color: white;
  min-height: 100vh;
  padding: 110px 20px;
  font-family: "Poppins", sans-serif;
}

.review-title {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  color: cyan;
  margin-bottom: 40px;
  text-shadow: 0 0 12px rgba(0,255,255,.6);
}

.review-form {
  max-width: 800px;
  margin: 0 auto;
  background: #111;
  padding: 30px 30px 35px;
  border-radius: 14px;
  border: 1px solid cyan;
  box-shadow: 0 0 22px rgba(0,255,255,.35);
}

.form-group {
  margin-bottom: 22px;
  text-align: left;
}

.form-group label {
  font-size: 18px;
  color: cyan;
  margin-bottom: 6px;
  display: block;
}

input, textarea, select {
  width: 100%;
  padding: 13px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid cyan;
  background: #000;
  color: white;
}

input:disabled, textarea:disabled, select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.submit-btn {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  background: cyan;
  color: black;
  font-size: 20px;
  font-weight: 800;
  border-radius: 10px;
  cursor: pointer;
}

.review-list {
  max-width: 950px;
  margin: 50px auto;
}

.review-list h2 {
  text-align: center;
  font-size: 32px;
  color: cyan;
  margin-bottom: 25px;
}

.review-card {
  background: #0b0b0b;
  border: 1px solid cyan;
  padding: 25px;
  border-radius: 14px;
  margin-bottom: 15px;
  box-shadow: 0 0 18px rgba(0,255,255,.25);
}

.review-card h3 {
  color: cyan;
  font-size: 24px;
  font-weight: 700;
}

.rev-text {
  margin: 10px 0;
  color: #ccc;
}
