.testimonial-page {
  background: #000;
  min-height: 100vh;
  color: white;
  padding: 110px 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.testimonial-title {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 40px;
  color: cyan;
  text-shadow: 0 0 12px rgba(0,255,255,.6);
}

/* SLIDER */
.testimonial-slider {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 50px;
}

/* CARD */
.test-card {
  background: #0b0b0b;
  border: 1px solid cyan;
  padding: 20px;
  border-radius: 14px;
  min-height: 350px;
  box-shadow: 0 0 18px rgba(0,255,255,.35);
  transition: 0.4s;
  animation: fadeUp 0.8s ease forwards;
}

.test-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 0 30px rgba(0,255,255,.6);
}

/* VIDEO */
.test-video {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.no-video {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  background: rgba(0,255,255,0.1);
  border: 1px solid cyan;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: cyan;
}

/* ==== SWIPER ARROWS CUSTOM STYLING ==== */
.swiper-button-next,
.swiper-button-prev {
  color: cyan !important;   /* arrow color */
  font-size: 22px !important;
  text-shadow: 0 0 10px rgba(0,255,255,0.9);
  z-index: 10;
}

/* move arrows outside slider */
.swiper-button-next {
  right: -45px !important;   /* Push arrow outside */
}

.swiper-button-prev {
  left: -45px !important;
}

/* Increase clickable area */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px !important;
  font-weight: 900;
}


/* Animation */
@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}
