/* NAVBAR MAIN */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000;
  padding: 16px 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 255, 255, 0.15);
}

/* WRAPPER */
.navbar-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* BRAND (logo + text) */
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-logo-img {
  width: 52px !important;
  height: 52px !important;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 0 0 8px rgba(0,255,255,0.3);
}

.navbar-logo-text {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.navbar-logo-text span {
  color: cyan;
  text-shadow: 0 0 6px cyan;
}

/* MENU */
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 32px;
}

.navbar-menu li {
  color: #ddd;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-menu li:hover {
  color: cyan;
  text-shadow: 0 0 8px cyan;
}

/* MOBILE BUTTON */
.navbar-btn {
  display: none;
  border: 2px solid cyan;
  background: transparent;
  color: cyan;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-btn:hover {
  background: cyan;
  color: black;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-btn {
    display: block;
  }
}

/* MOBILE MENU DROPDOWN */
@media (max-width: 768px) {

  .navbar-menu {
    position: absolute;
    top: 70px;
    right: 0;
    background: #000;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    gap: 20px;
    border-top: 1px solid cyan;
    display: none;
  }

  .navbar-menu.active {
    display: flex;
  }
}
/* ANIMATED MOBILE MENU */
@media (max-width: 768px) {

  .navbar-menu {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    flex-direction: column;
    background: #000;
    text-align: center;
    padding: 0;
    gap: 20px;
    border-top: 1px solid cyan;
    overflow: hidden;
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s ease;
  }

  .navbar-menu.active {
    display: flex;
    padding: 20px 0;
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-menu li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.navbar-menu li.active-link a {
  color: #ffae00;
  font-weight: bold;
}


